@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  background: radial-gradient(ellipse at 98% 2%, #EEFBF7, transparent 40%),            
              radial-gradient(ellipse at 2% 98%, #EEFBF7, transparent);
}

@layer base {
  body {
    @apply  bg-gradient-to-br from-emerald-50 via-white to-emerald-50 via-white to-emerald-50 to-transparent dark:bg-dark dark:text-gray-100;
    @apply min-h-screen;
  }
}



.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

a {
  color: #dfffe0;
  color: inherit;
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style: none;
}
li{
  padding: 0px 2%;
  border-radius: 20px;
}
li:hover{
  box-shadow: inset 100px 0 0 0 #708182 ;
  color:white;
}
input, textarea {
  --tw-ring-shadow: 0 0 #000 !important;
}